.errors, .errors-auth {
    font-size: 12px;
    color: #f76577;
    text-align: center;
}

.errors {
    margin-top: -15px;
    margin-bottom: 10px;
}

.errors-auth {
    margin-top: 4px;
}

.logout{
    color: #589ba7;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .7px;
}

main {
    min-height: 1000px;
}

