.labels .bootstrap-tagsinput {
    width: 100%;
}

#story-tags {
    opacity: 0;
    width: 0;
    float: left;
    margin: 0;
    border: 0;
}

.tt-input, .tt-hint {
    border: none !important;
    box-shadow: none !important;
}
