label.invalid-feedback {
    position: absolute !important;
    font-size: 9px !important;
    top: 50px !important;
    left: 0 !important;
    max-height: 30px !important;
    overflow: hidden !important;
    color: #f76577 !important;
    line-height: initial;
}

#edit-story-js {
    display: none;
    border-top: none;
    padding-top: 0;
}
