@media (max-width: 1600px){
    :lang(ru) .logo {
        width: 150px;
        min-width: 150px!important;
    }
}
@media (max-width: 1140px){
    :lang(ru) .logo {
        width: 100px;
        min-width: 100px !important;
    }
}
