/* Style the buttons */
/*.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
}*/

.card-body {
    height: 336px;
    overflow-y: auto;
}

.piece {
    background: white;
    border: 1px solid #ddd;
    padding: 5px;
    height: 100px;
    cursor: pointer;
}

.piece_img {
    height: 45px;
}

.piece label {
    cursor: pointer;
    position: relative;
    line-height: 1;
    bottom: 0;
}

/* Style the active class, and buttons on mouse-over */
._active, .piece:hover {
    background-color: rgb(248, 249, 250);
    /*color: white;*/
}
